.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  padding: 45px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}


label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: 1px solid #0370d9;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #0370d9;
}

.link-btn {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
}

.bg-image {
  background-image: image-set('images/facebookbg.png');
  display: flex;
}

.navbar {
  overflow: hidden;
  background-color: #0370d9;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  color: black;
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.body {
  text-align: left;
}